<div class="card mb-3">
  <h2 class="card-header h4">
    Manufacturer #<%= manufacturer.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= manufacturer.name %></dd>
      <!-- Display name end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back manufacturer, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link manufacturer start -->
      <div class="col">
        <%= link_to edit_manufacturer_url(manufacturer), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link manufacturer end -->

      <!-- Delete link manufacturer start -->
      <div class="col">
        <%= link_to manufacturer, method: :delete, data: { confirm: "Do you really want to delete this manufacturer?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link manufacturer end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(manufacturer.updated_at) %> ago
  </div>
</div>
